# Libraries and data importing

Importing packages

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [3]:
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.holtwinters import ExponentialSmoothing

Importing data

In [27]:
activities = pd.read_parquet('../data-raw/activities.parquet')
activities

,contributor,category,repository,activity,date
0,AmplabJenkins,bot,apache/spark,Commenting pull request,2022-11-25 09:55:19+00:00
1,AmplabJenkins,bot,apache/spark,Commenting pull request,2022-11-25 09:55:23+00:00
2,AmplabJenkins,bot,apache/spark,Commenting pull request,2022-11-25 09:55:26+00:00
3,analysis-bot,bot,facebook/react-native,Commenting pull request,2022-11-25 09:55:27+00:00
4,neos-bot,bot,neos/neos-ui-compiled,Pushing commits,2022-11-25 09:55:47+00:00
...,...,...,...,...,...
1015418,798388,human,879434,Reviewing code,2023-04-15 16:06:15+00:00
1015419,798388,human,879434,Reviewing code,2023-04-15 16:07:26+00:00
1015420,784775,human,643744,Creating branch,2023-04-15 16:07:33+00:00
1015421,784775,human,888378,Opening pull request,2023-04-15 16:08:07+00:00
1015422,387854,human,956848,Forking repository,2023-04-15 16:14:22+00:00

Calculates the date 3 months ago from the last date in the data and filters the dataframe to include only the rows with dates greater than or equal to the date 3 months ago

In [28]:
thresholded_activities = activities[activities['date'] >= activities['date'].max() - pd.DateOffset(months=3)].groupby('contributor').tail(300).reset_index(drop=True)
thresholded_activities

,contributor,category,repository,activity,date
0,AmplabJenkins,bot,apache/spark,Commenting pull request,2023-01-15 16:15:53+00:00
1,stickler-ci[bot],bot,Humml87/dolibarr,Pushing commits,2023-01-15 17:31:52+00:00
2,apollo-cla,bot,apollographql/apollo-rs,Commenting pull request,2023-01-15 17:42:50+00:00
3,dune-community-bot,bot,dune-mirrors/dune-fem,Creating branch,2023-01-15 18:00:14+00:00
4,AmplabJenkins,bot,apache/spark,Commenting pull request,2023-01-15 18:20:48+00:00
...,...,...,...,...,...
140748,798388,human,879434,Reviewing code,2023-04-15 16:06:15+00:00
140749,798388,human,879434,Reviewing code,2023-04-15 16:07:26+00:00
140750,784775,human,643744,Creating branch,2023-04-15 16:07:33+00:00
140751,784775,human,888378,Opening pull request,2023-04-15 16:08:07+00:00
140752,387854,human,956848,Forking repository,2023-04-15 16:14:22+00:00

In [50]:
thresholded_activities[thresholded_activities['contributor'] == 'TPRobots']

,contributor,category,repository,activity,date
489,TPRobots,bot,trustpilot/plugin-magento2,Opening pull request,2023-01-18 09:08:24+00:00
3631,TPRobots,bot,trustpilot/temp-auditlogtest,Opening pull request,2023-02-01 13:35:00+00:00

In [47]:
thresholded_activities['contributor'].value_counts().to_frame().tail(60)

                             count
contributor
dune-community-bot               3
358697                           3
363388                           3
966663                           3
843667                           3
934649                           3
ross-bott                        3
657596                           3
338777                           3
869874                           2
748677                           2
874774                           2
988763                           2
533398                           2
symfony-bot[bot]                 2
769988                           2
576873                           2
558887                           2
378759                           2
nativescript-vue-bot             2
935858                           2
958897                           2
446843                           2
886785                           2
376565                           2
TPRobots                         2
664453                           2
arcus-automation                 2
796945                           1
634635                           1
github-learning-lab[bot]         1
697886                           1
463868                           1
354976                           1
gocardless-robot-restricted      1
ApiaryBot                        1
833687                           1
996547                           1
937858                           1
337393                           1
499983                           1
876747                           1
687444                           1
768766                           1
858548                           1
869865                           1
789345                           1
977795                           1
549746                           1
688339                           1
987693                           1
549839                           1
596937                           1
667348                           1
368993                           1
784639                           1
StepFunctions-Bot                1
logic-building                   1
zcabot                           1
975586                           1

In [26]:
thresholded_activities[thresholded_activities['contributor'] == '387854']

,contributor,category,repository,activity,date
111590,387854,human,338773,Pushing commits,2023-03-28 00:52:06+00:00
111597,387854,human,338773,Pushing commits,2023-03-28 01:07:37+00:00
111613,387854,human,659897,Pushing commits,2023-03-28 01:21:41+00:00
111619,387854,human,659897,Pushing commits,2023-03-28 01:26:09+00:00
112780,387854,human,659897,Commenting issue,2023-03-28 17:40:43+00:00
...,...,...,...,...,...
140600,387854,human,956848,Opening issue,2023-04-15 13:53:53+00:00
140642,387854,human,956848,Commenting issue,2023-04-15 14:42:01+00:00
140674,387854,human,956848,Commenting issue,2023-04-15 14:56:36+00:00
140743,387854,human,956848,Opening issue,2023-04-15 16:00:10+00:00
140752,387854,human,956848,Forking repository,2023-04-15 16:14:22+00:00

# 1. Autoregressive model

# 2. Moving-average model

# 3. Autoregressive Moving-average model

# 4. Autoregressive integrated Moving-average model

# 5. Seasonal Autoregressive integrated Moving-average with eXogenous regressors model

# 6. Vector Autoregressive model

# 7. Vector Autoregressive Moving-average with eXogenous regressors model

# 8. Unobserved components model

# 9. Dynamic factor models

# 10. Simple exponential smoothing

# 11. Holt’s linear exponential smoothing

# 12. Holt-Winters exponential smoothing